.form-group {
  margin-bottom: 32px !important;
}

.form-control-wrapper .form-control:not(textarea),
.form-control:not(textarea) {
  height: 46px !important;
}

input.span5 {
  width: 456px !important;
}
