/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap/dist/css/bootstrap
 *= require bootstrap-material-design/dist/css/material
 *= require bootstrap-material-design/dist/css/ripples
 *= require_self
 */
body {
  padding-top: 60px;
}

body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.main {
  padding: 20px;
}

object {
  vertical-align: middle;
}

[class^="mdi-"], [class*="mdi-"] {
  font-size: 16px;
}
.btn-lg > [class^="mdi-"], .btn-lg > [class*="mdi-"] {
  font-size: 20px;
}
.btn-sm > [class^="mdi-"], .btn-sm > [class*="mdi-"] {
  font-size: 12px;
}
.btn-xs > [class^="mdi-"], .btn-xs > [class*="mdi-"] {
  font-size: 12px;
}
